include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include nirmana *.css
recursive-include nirmana *.csv
recursive-include nirmana *.html
recursive-include nirmana *.ico
recursive-include nirmana *.js
recursive-include nirmana *.json
recursive-include nirmana *.md
recursive-include nirmana *.png
recursive-include nirmana *.py
recursive-include nirmana *.svg
recursive-include nirmana *.txt
recursive-exclude nirmana *.pyc
